rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Cho phép user đã đăng nhập đọc/ghi toàn bộ Storage
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
